.grid-item {
    margin-bottom: 30px;
}
.portfolio {
    position: relative;
}
.portfolio img {
    width: 100%;
}
.item-img-overlay {
    position: absolute;
    top: 8px;
    left: 8px;
    right: 8px;
    bottom: 8px;
    background: hsla(0,0%,100%,.95);
    opacity: 0;
    transition: all .5s;
    z-index: 2;
    transform: translateY(10px);
}
.portfolio .item-img-overlay .overlay-info {
    position: absolute;
    width: 100%;
    top: 40%;
    left: 0;
    transform: translateY(-50%);
}
.portfolio:hover .item-img-overlay {
    opacity: 1;
    transform: translateY(0);
}
.sm-title{
    font-family: Montserrat,sans-serif;
    color: #797979;
    font-size: 20px;
}
.description{
    color: #797979;
    font-size: 16px;
    padding-left: 5px;
}
.portfolio .item-img-overlay .overlay-info .icons a {
    display: inline-block;
    width: 45px;
    height: 45px;
    font-size: 16px;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid #111;
    background: #111;
    color: #eee !important;
    transition: all .2s linear;
    margin: 0 5px;
    cursor: pointer;
}
a.disabled {
    pointer-events: none;
    cursor: default;
    background-color: #bcbcbc!important;
    color: #000!important;
} 
a.disabled:hover {
    display: none !important;
}

@media screen and (max-width: 1000px){
    .portfolio .item-img-overlay .overlay-info {
        top: 50%;
    }
  }