.align-items-center {
  align-items: center !important;
}
.text-center {
  text-align: center !important;
}
a {
  color: black !important;
  text-decoration: none !important;
}
.t_color {
  color: #040c2c;
}
.bottom_line {
  width: 80px;
  height: 2px;
  margin: 25px auto 0;
  display: inline-block;
  background: #bcbcbc;
}
.title_h2 {
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
}
.title_p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 0;
  max-width: 570px;
  margin-left: auto;
  margin-right: auto;
}
